* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  font-family: sans-serif;
}

.splitter {
  height: 1px;
  background: gray;
  width: 100%;
  position: fixed;
  top: 10%;
  left: 0;
}

.container {
  width: 816px;
  height: 1056px;
  border: 0px solid black;
  padding: 10px;
  font-family: "Lato", sans-serif;
  position: relative;
}

.footer {
  position: absolute;
  bottom: -20px;
  font-size: 12px;
}

.update {
  left: 0;
}

.made {
  right: 0;
}

.main-grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 40% 60%;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "header header"
    "left right";
}

.header {
  grid-area: header;
  text-align: center;
  color: gray;
  border-bottom: 1px solid gray;
}

.left {
  grid-area: left;
  margin-right: 10px;
  margin-top: 10px;
}

.right {
  grid-area: right;
  margin-left: 10px;
  margin-top: 10px;
}

a {
  text-decoration: none;
  border: 1px solid gray;
  color: gray;
  border-radius: 5px;
  padding: 0 5px;
}

ul li {
  margin-left: 15px;
}

.flex-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin-bottom: 5px;
}

.title {
  color: gray;
  font-size: 20px;
  font-weight: 300;
  border-bottom: 1px solid gray;
  display: inline-block;
  margin: 5px 0;
}

.subtitle {
  font-size: 18px;
  font-weight: 700;
}

.subsub-title {
  font-size: 17px;
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.date {
  font-weight: 300;
  font-size: 16px;
}

.projects .date {
  font-size: 18px;
}

.name {
  font-size: 40px;
}

.header-info {
  margin-top: 5px;
}

.skill span {
  display: inline-block;
  border: 1px solid gray;
  padding: 0 2px;
  margin: 2px;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}
